.box {
    border-left: 10px ridge #CBCBCB;
    border-top:10px ridge #CBCBCB;
    border-right: 10px ridge #FDFEFD;
    border-bottom: 10px ridge #FDFEFD;
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #CBCBCB;
}
.case {
    height: 12.5%;
    width: 12.5%;
    border: 2px dotted black;
    border-width: 0 2px 2px 0;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.number-one {
    background-image: url(./images/1.png);
}
.number-two {
    background-image: url(./images/2.png);
}
.number-three {
    background-image: url(./images/3.png);
}
.bomb {
    background-image: url(./images/bomb.png);
}
.secret {
    border: 4px outset;
    display: flex;
    align-items: center;
    justify-content: center;
}
.secret img {
    opacity: 0;
}
.secret img:hover {
    opacity: 1;
    border: 4px inset;
}
